.wrapper
  #info
    .image= image_tag 'pierre.jpg'
    .text
      .name
        Pierre Valade
      .baseline
        %p
          I'm a geek!
          %span
            = link_to 'Follow me', 'http://twitter.com/pierrevalade'    
        %p
          = link_to image_tag('Linkedin-1.png'), 'http://fr.linkedin.com/in/pierrevalade'
          = link_to image_tag('Facebook.png'), 'http://www.facebook.com/pierrevalade'
          /= link_to image_tag('Flickr.png'), ''
          = link_to image_tag('RSS.png'), 'http://blog.pierrevalade.com'
        
    .clear
    
#twitter
  :plain  
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 6000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#e8e8e8',
          color: '#000000'
        },
        tweets: {
          background: '#e8e8e8',
          color: '#000000',
          links: '#000000'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('pierrevalade').start();
    </script>
    
    
#photos
  .image= image_tag('_IGP3162.jpg')
  .image= image_tag('_IGP3311.jpg')
  .image= image_tag('_IGP3174.jpg')
  .image= image_tag('_IGP3266.jpg')