!!! XHTML
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    %title= "Pierre Valade - geek, entrepreneur, web/mobile developper"
    = stylesheet_link_tag "http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css"
    = stylesheet_link_tag "welcome.css"
    %meta{:name => "description", :content => "I'm excited about making the world a better place using new technologies. Follow me!"}
    <meta name="google-site-verification" content="ERsrKszS2eKc00D_uNaVDCUWfeBt-Jj6HobGvXSQcnE" />
    %link{:rel => "image_src", :href => "http://pierrevalade.com/images/pierre.jpg"}
  %body
    #custom-doc
      .twitter
        = link_to image_tag('twitter.png'), 'http://twitter.com/pierrevalade'
      #bd{:class => "#{controller.controller_name} #{controller.action_name}"}
        = yield
        .clear
        
    #hd
      photos
      = link_to 'Romain David', 'http://twitter.com/romain_david'
      
    = google_analytics