%html
  %head
    %title= "Pierre Valade"
    = stylesheet_link_tag "http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css"
    = stylesheet_link_tag "welcome.css"
    %meta{:name => "description", :content => "Official page of Pierre Valade"}
    <meta name="google-site-verification" content="ERsrKszS2eKc00D_uNaVDCUWfeBt-Jj6HobGvXSQcnE" />
    %link{:rel => "image_src", :href => "http://pierrevalade.com/images/pierre.jpg"}
  %body
    #custom-doc
      .twitter
        = link_to image_tag('twitter.png'), 'http://twitter.com/pierrevalade'
      #bd{:class => "#{controller.controller_name} #{controller.action_name}"}
        = yield
        .clear
        
    #hd
      photos
      = link_to 'Romain David', 'http://twitter.com/romain_david'
      
    = google_analytics